#list-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.hide {
  display: none !important;
}

.hidden {
  opacity: 0;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 2px solid black;
}